{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Main{% endblock %} - Web Shop</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
        <link rel="shortcut icon" href="{% static 'main/logo-icon.png' %}" type="image/x-icon"/>
    </head>
    <body class="container-fluid">
        <nav class="row navbar navbar-expand-md bg-light">
            <div class="col container">
                <a class="navbar-brand"
                   href="{% url 'main:index' %}">ㅤ</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end"
                     id="navbarNav">
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown" href="#">Profile</a>
                            <div id="dropdown-menu-leftmargin" class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'main:profile' %}">My stats</a>
                                <a class="dropdown-item" href="{% url 'main:profile_edit' %}">
                                   Change private data</a>
                                <a class="dropdown-item" href="{% url 'main:password_edit' %}">
                                   Change password</a>
                                <hr class="dropdown-divider">
                                <form class="px-3" method="post"
                                      action="{% url 'main:logout' %}">
                                    {% csrf_token %}
                                    {% bootstrap_button 'Logout' button_class='btn-danger' %}
                                </form>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="{% url 'main:profile_delete' %}">
                                   Delete</a>
                            </div>
                        </div>
                        {% else %}
                        <a class="nav-link" href="{% url 'main:register' %}">Registration</a>
                        <a class="nav-link" href="{% url 'main:login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="row">
            <nav class="col-md-auto nav flex-column bg-light sidebar-base-menu">
                <a class="nav-link" href="{% url 'main:typing_test' %}">
                   Typing Test</a>
                <a class="nav-link" href="{% url 'main:typing_test_extended' %}">
                   Typing Test Advanced</a>
                <a class="nav-link" href="{% url 'main:multiplayer' %}">
                   Multiplayer</a>
                <a class="nav-link" href="{% url 'main:custom_test' %}">
                   Custom Typing Test</a>
                <a class="nav-link" href="{% url 'main:learning_tests' %}">
                   Learning Touch Typing</a>
            </nav>
            <main class="col py-2">
                {% bootstrap_messages %}
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>
